/*
 * Licensed to Elasticsearch B.V. under one or more contributor
 * license agreements. See the NOTICE file distributed with
 * this work for additional information regarding copyright
 * ownership. Elasticsearch B.V. licenses this file to you under
 * the Apache License, Version 2.0 (the "License"); you may
 * not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *	http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

 .layout {
  &__header {
    width: 100%;
    height: 84px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: white;
    box-shadow: 0px 0.498106px 1.1069px rgba(0, 0, 0, 0.0365489), 0px 1.19702px 2.66004px rgba(0, 0, 0, 0.0525061), 0px 2.25388px 5.00862px rgba(0, 0, 0, 0.065), 0px 4.02054px 8.93452px rgba(0, 0, 0, 0.0774939), 0px 7.51997px 16.711px rgba(0, 0, 0, 0.0934511), 0px 18px 40px rgba(0, 0, 0, 0.13);

    &__content {
      display: flex;
      height: 100%;
      max-width: 1108px;
      margin: 0 auto;
      padding: 0 20px;
      align-items: center;
    }

    &__logo {
      margin: 23px auto;
      flex: 1;

      &__img {
        height: 1.5rem;
      }
    }

    &__action {
      font-size: 16px;
      line-height: 24px;
      margin-left: 10px;

      a {
        color: #006BB4;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__footer {
    margin: 60px auto;
    border-top: 1px solid #D3DAE6;
    max-width: 722px;
    height: 43px;
    font-size: 12px;
    width: 100%;

    p {
      margin: 0;
      line-height: 100%;
      height: 100%;
      justify-content: center;
      display: flex;
      align-items: flex-end;
    }
  }
}

@media screen and (max-width: 768px) {
  .layout {
    &__footer {
      margin: 0 auto 30px;
    }
  }
}
