/*
 * Licensed to Elasticsearch B.V. under one or more contributor
 * license agreements. See the NOTICE file distributed with
 * this work for additional information regarding copyright
 * ownership. Elasticsearch B.V. licenses this file to you under
 * the Apache License, Version 2.0 (the "License"); you may
 * not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *	http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 
.product-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-position: center;
  background-size: cover;

  &__apm {
    background-image: url(../images/products-icons/logo-apm-64-color.svg);
  }

  &__app-search {
    background-image: url(../images/products-icons/logo-app-search-64-color.svg);
  }

  &__beats {
    background-image: url(../images/products-icons/logo-beats-64-color.svg);
  }

  &__cloud {
    background-image: url(../images/products-icons/logo-cloud-64-color.svg);
  }

  &__cloud-ece {
    background-image: url(../images/products-icons/logo-ece-64-color.svg);
  }

  &__eck {
    background-image: url(../images/products-icons/logo-eck-64-color.svg);
  }

  &__elasticsearch {
    background-image: url(../images/products-icons/logo-elasticsearch-color-64.svg);
  }

  &__elastic-stack {
    background-image: url(../images/products-icons/elastic-stack.svg);
  }

  &__endpoint-security {
    background-image: url(../images/products-icons/logo-endpoint-64-color.svg);
  }

  &__kibana {
    background-image: url(../images/products-icons/logo-kibana-64-color.svg);
  }

  &__logging {
    background-image: url(../images/products-icons/logo-logging-64-color.svg);
  }

  &__logstash {
    background-image: url(../images/products-icons/logo-logstash-64-color.svg);
  }

  &__metrics {
    background-image: url(../images/products-icons/logo-metrics-64-color.svg);
  }

  &__siem {
    background-image: url(../images/products-icons/logo-siem-64-color.svg);
  }

  &__site-search {
    background-image: url(../images/products-icons/logo-site-search-32-color.svg);
  }

  &__uptime {
    background-image: url(../images/products-icons/logo-uptime-64-color.svg);
  }

  &__workplace-search {
    background-image: url(../images/products-icons/logo-workplace-search-64-color.svg);
  }
}
