/*
 * Licensed to Elasticsearch B.V. under one or more contributor
 * license agreements. See the NOTICE file distributed with
 * this work for additional information regarding copyright
 * ownership. Elasticsearch B.V. licenses this file to you under
 * the Apache License, Version 2.0 (the "License"); you may
 * not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *	http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 
.search-container {

  @import 'SearchUIComponents.scss';
  @import 'ProductIcons.scss';

  $searchContainerClass: &;

  top: 84px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;

  &-home {
    flex: 1 1 auto;
    max-height: 736px;
    min-height: 500px;
    background: #1B1C20 center url(../images/background-home.svg) no-repeat;
    margin: 0 0 -80px;

    #{$searchContainerClass}__search-box-wrapper {
      max-width: 736px;
      width: 100%;
    }

    &__title {
      color: #FFFFFF;
      max-width: 736px;
      margin: 0 auto;

      h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        margin: 19px auto;
      }

      p {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
      }
    }
  }

  &-results {
    #{$searchContainerClass}__search-box-wrapper {
      margin: 0 0 -150px;
      height: 317px;
      padding: 22px 0 0;
      width: calc(100%);
      background: #1B1C20 center url(../images/background-search-result.svg) no-repeat;
    }
  }

  &__search-result-layout {
    width: 100%;
    max-width: 1108px;
    margin: 20px 0 66px;
    background: #FFFFFF;
    box-shadow: 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.00843437), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0121168), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.015), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0178832), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0215656), 0px 100px 80px rgba(0, 0, 0, 0.03);
    display: flex;
    flex: 1;

    &__sidebar {
      margin: 25px 0 25px 35px;
      width: 196px;
      flex: none;
    }

    &__main {
      margin: 25px 35px 25px;
      max-width: calc(100% - 300px);
      flex: 1;

      &__loading {
        width: calc(100%);
        height: calc(100%);
        max-height: 400px;
        max-width:  400px;
        margin: 0px auto;
        min-height: 300px;
        background: white;
      }
    
      &__search-box-wrapper {
        form {
          width: 100%;
        }
      } 
    }
 
    &__list {
      list-style-type: none;
      padding: 0;
    }
  }

  &__autocomplete {
    width: calc(100% - 40px);
    margin: 1px auto 0;
    max-width: 696px;
    position: absolute;
    background: #FFF;
    box-shadow: 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.00843437), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0121168), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.015), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0178832), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0215656), 0px 100px 80px rgba(0, 0, 0, 0.03);

    &> div {
      width: calc(100%);
    }
  }
}

@media screen and (max-width: 768px) {
  .search-container {

    $searchContainerClass: &;
    
    &__search-result-layout {
      margin: 20px 0;
      &__sidebar {
        display: none;
      }

      &__main {
        margin: 25px 25px;
        width: calc(100% - 50px);
        max-width: none;
      }
    }

    &-home {
      margin: 0;
      min-height: auto;

      #{$searchContainerClass}__search-box-wrapper {
        form[aria-expanded=true] {
          position: absolute;
          top: 84px;
          left: 0px;
          width: calc(100%);
          height: calc(100vh - 84px);
          background: rgba(black, 0.3);
        }
      }
    }

    &__autocomplete {
      min-width: calc(100% - 46px);
    }
  }
}
