.search-container {

  @import 'SearchUIComponents.scss';
  @import 'ProductIcons.scss';

  $searchContainerClass: &;

  top: 84px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &-home {
    flex: 1 1 auto;
    max-height: 736px;
    min-height: 500px;
    background: #1B1C20 center url(../images/background-home.svg) no-repeat;
    margin: 0 0 -80px;

    #{$searchContainerClass}__search-box-wrapper {
      max-width: 736px;
      width: 100%;
    }

    &__title {
      color: #FFFFFF;
      max-width: 736px;
      margin: 0 auto;

      h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        margin: 19px auto;
      }

      p {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
      }
    }
  }

  &-results {
    #{$searchContainerClass}__search-box-wrapper {
      margin: 0 0 -150px;
      height: 317px;
      padding: 22px 0 0;
      width: calc(100%);
      background: #1B1C20 center url(../images/background-search-result.svg) no-repeat;
    }
  }

  &-loading{
    height: 100px;

    &:after {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(white, 0.5);
    }
  }

  &__search-box-wrapper {
    form {
      width: 100%;
    }
  } 

  &__search-result-layout {
    width: 100%;
    max-width: 1108px;
    margin: 20px 0 66px;
    background: #FFFFFF;
    box-shadow: 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.00843437), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0121168), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.015), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0178832), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0215656), 0px 100px 80px rgba(0, 0, 0, 0.03);
    display: flex;

    &__sidebar {
      margin: 25px 35px;
      width: 196px;
      flex: none;
    }

    &__main {
      margin: 25px 35px 25px 0;
      width: calc(100% - 301px);
    }
 
    &__list {
      list-style-type: none;
      padding: 0;
    }
  }

  &__autocomplete {
    width: calc(100% - 40px);
    margin: 1px auto 0;
    max-width: 696px;
    position: absolute;
    background: #FFF;
    box-shadow: 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.00843437), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0121168), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.015), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0178832), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0215656), 0px 100px 80px rgba(0, 0, 0, 0.03);

    &> div {
      width: calc(100%);
    }
  }
}

@media screen and (max-width: 768px) {
  .search-container {

    $searchContainerClass: &;
    
    &__search-result-layout {
      margin: 20px 0;
      &__sidebar {
        display: none;
      }

      &__main {
        margin: 25px 25px;
        width: calc(100% - 50px);
      }
    }

    &-home {
      margin: 0;
      min-height: auto;

      #{$searchContainerClass}__search-box-wrapper {
        form[aria-expanded=true] {
          position: absolute;
          top: 84px;
          left: 0px;
          width: calc(100%);
          height: calc(100vh - 84px);
          background: rgba(black, 0.3);
        }
      }
    }

    &__autocomplete {
      min-width: calc(100% - 46px);
    }
  }
}