.sui-search-box {
  width: calc(100% - 40px);
  margin: 41px auto;
  max-width: 722px;
  
  &__text-input {
    width: calc(100% - 56px);
    line-height: 25px;
    background: #FFFFFF;
    padding: 22px 28px;
    box-shadow: 0px 0.815184px 1.81152px rgba(0, 0, 0, 0.0592299), 0px 2.25388px 5.00862px rgba(0, 0, 0, 0.085), 0px 5.42647px 12.0588px rgba(0, 0, 0, 0.11077), 0px 18px 40px rgba(0, 0, 0, 0.17);
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 26px;
    border: none;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #98A2B3;
    }
  }

  &__submit {
    float: right;
    position: relative;
    margin: -51px 20px;
    background: transparent url(../images/search-icon.png);
    border: none;
    color: transparent;
    width: 32px;
    height: 32px;

    &:focus {
      outline:none;
    }
  }
}

.sui-paging-info {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  border-bottom: 1px solid #D3DAE6;
  padding: 0 0 13px;

  em {
    font-weight: bold;
  }
}

.sui-paging {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  padding: 30px 0 22px;
  border-top: 1px solid #D3DAE6;
  display: flex;
  align-items: center;
  justify-content: center;
    
  & > li {
    display: inline-block;
    text-align: center;
    padding: 0px 2px;
    cursor: pointer;
    margin: 0 4px;
    outline: none;
    line-height: 24px;

    &.rc-pagination-jump-next, &.rc-pagination-jump-prev {
      .rc-pagination-item-link:after {
        content: '...'
      } 
    }

    &.rc-pagination-prev, &.rc-pagination-next {
      height: 24px;
      width: 4px;
      background: no-repeat center url(../images/arrow-icon.png);
      &.rc-pagination-prev {
        transform: rotate(180deg);
        margin: 0 6px 0 4px;
      }

      &[aria-disabled=true] {
        opacity: 0.3;
        cursor: default;
      }
    }

    &.rc-pagination-item-active a {
      font-weight: bold;
      text-decoration: underline;
      color: #006BB4;
    }

    a, a:active, a:hover, a:focus {
      outline: 0;
      outline-offset: 0;
      box-shadow: none;
    }
  }
}