@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFontslntwght.woff") format("woff"),
       url("../fonts/Inter-VariableFontslntwght.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html {
  background: #69707D;
}
body {
  margin: 0;
  font-family: 'Inter', '-apple-system', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #69707D
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  &__content {
    background-color: #F5F7FA;
    color: #69707D;
    min-height: calc(100vh - 84px);
    padding: 84px 0 0 0;
    display: flex;
    flex-direction: column;
  }
}
