/*
 * Licensed to Elasticsearch B.V. under one or more contributor
 * license agreements. See the NOTICE file distributed with
 * this work for additional information regarding copyright
 * ownership. Elasticsearch B.V. licenses this file to you under
 * the Apache License, Version 2.0 (the "License"); you may
 * not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *	http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 
.search-container {
  .facet {
    &:not(:first-child) {
        margin: 42px 0;
    }

    &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: #69707D;
        border-bottom: 1px solid #D3DAE6;
        padding: 0 0 13px;
    }

    &__options {
        margin: 10px 0;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 33px;
        list-style: none;
        padding: 0;
    }

    &__option {
      &__link {
        display: flex;
        align-items: center;
  
        .product-icon {
          margin: 0px 12px 0 0;
        }
      }

      &.selected a {
        font-weight: 600;
        color: #006BB4;
      }
    }
  }

  a {
    color: #69707D;
    text-decoration: none;
  }
}



